[Desktop Entry]
Version=1.0
Name=WOC URL Handler
Comment=Open links for WechatOnCloud
Exec=/usr/local/bin/woc-open-url %U
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
NoDisplay=true
