[Desktop Entry]
Version=1.0
Name=WOC Chromium
Comment=Open links in Chromium for WechatOnCloud
Exec=/usr/local/bin/woc-browser %U
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
NoDisplay=true
